DATABASE_URL="postgresql://tolotanana_db_vl03_user:dWsZ17cypALGw8C0sPYdbS1Du8wBW5RB@dpg-d3f577p5pdvs73ch06qg-a.oregon-postgres.render.com/tolotanana_db_vl03"

JWT_SECRET="eb13edf43710296574abe74e6c694027e4cfd7d9c3f8da8e56e9d110c426ec12ec562fb3bc94acf4c518b8602d80f2d07e8c7e6f42700f993782e8117aafbd82"
JWT_EXPIRES_IN="30m"

# App
PORT=4750
NODE_ENV=production

# Prisma
SHADOW_DATABASE_URL="postgresql://username:password@localhost:5432/tolotanana_shadow_db?schema=public"

# Configuration Email # Optionnel - garder Mailtrap pour dev

MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT=2525
MAILTRAP_USER="0bdb4370e259e8"
MAILTRAP_PASSWORD="79dadc0048d3c8"
EMAIL_FROM="support@tolotanana.com"
ADMIN_EMAIL="admin@tolotanana.com"
SEND_ADMIN_NOTIFICATIONS=false
 

 # Mail Configuration for SMTP
#
# Replace the placeholders (like YOUR_PASSWORD) with your actual credentials.
# Note: The password shown (ykdh zbaj yrfb mhtx) is likely an App Password, not your regular Gmail password.

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=antoniormdev@gmail.com
EMAIL_PASSWORD=ykdt zbaj uyfb mihx
EMAIL_FROM=support@tolotanana.com
ADMIN_EMAIL=admin@tolotanana.com


RECAPTCHA_SECRET_KEY="6LfmoeUrAAAAAMAD7Pm1-XR5rqfa2p42ImpveV9q"
RECAPTCHA_SITE_KEY="6LfmoeUrAAAAACdE-np61P0ZCuveOxG_RagonxqP"